h1 {
text-align: center; font-size: 80px;
}

.image {
text-align: center;
}

a {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}

.ytlink {
width: 300px;
height: auto;
}

body {
  background-color: #000000;
  color: white;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
